<div class="contents row" >
  <div class="row">
    <div class="col s12 m10">
      <div class="card-panel">
        <span><%= @blog.user.nickname %></span><br>
        <span><%= @blog.title %></span><br>
        <span><%= @blog.text %></span></br>
        <% if user_signed_in? && current_user.id == @blog.user_id %>
          <div class="waves-effect waves-light btn-small">
            <%= link_to "削除", "/blogs/#{@blog.id}", class: "btn", method: :delete %>
            <%= link_to "編集", "/blogs/#{@blog.id}/edit", class: "btn", method: :get%>
          </div>
        <% end %>
        <a class="btn" href="/">一覧へ戻る</a>
      </div>
    </div>
  </div>
</div>
