<!DOCTYPE html>
<html>
  <head>
    <title>AppBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class=" teal accent-4">
        <div class="nav-wrapper">
          <div class="center-align">
            <a href="/" class="brand-logo"><i class="material-icons ">cloud</i>blog</a>
          </div>
          <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Singin", new_user_session_path, class: 'post' %></li>
              <li><%= link_to "New", new_user_registration_path, class: 'post' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>


  </body>
</html>
